* {
  padding: 0;
  margin: 0;
}

.tools-container {
  margin-top: 10px;
  margin-left: 10px;
}

.button {
  padding: 10px;
  margin: 5px;
}

canvas{
  border: 1px solid black;
  background-color: rgb(219, 219, 219);
}