* {
  padding: 0;
  margin: 0;
}

.tools-container {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.button {
  padding: 10px;
  margin: 5px;
}

canvas{
  border: 1px solid black;
  background-color: rgb(219, 219, 219);
}

#side-input, #size-input {
  width: 70px;
  padding: 10px;
  margin: 5px;
}

#color-input {
  width: 80px;
  height: 40px;
  margin: 5px;
}

label{
  margin-right: 10px;
}